body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    width: 60%;
}

section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

img:hover {
    cursor: pointer;
}

img {
    height: 400px;
}

div p {
    position: absolute;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Potta One', cursive;
    color: blue;
    margin: 0;
}

header {
    background-color: cadetblue;
}


label {
    display: inline-block;
    width: 15%;
}

button {
    border: 1px solid black;
}

.top {
    top: 0;
    font-family: 'Potta One', cursive;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px black;
}

.bottom {
    bottom: 0;
    font-family: 'Potta One', cursive;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.instructions {
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
}

.meme-generator-container {
    margin: 0 auto;
    width: 70%;
}

.button-container {
    margin: 0;
}

.image-container:hover {
    opacity: .5;
}

.image-container {
    margin: 10px;
    text-align: center;
    position: relative;
}
