body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

label {
    margin-right: 20px;
}

input {
    width: 400px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

div {
    margin: 10px;
    position: relative;
}

div:hover {
    opacity: .5;
}

img {
    width: 200px;
    left: 100px;
}

img:hover {
    cursor: pointer;
}

div p {
    position: absolute;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Potta One', cursive;
    color: blue;
}

header {
    background-color: cadetblue;
}

.top {
    padding-left: 10px;
    bottom: 155px;
}

.bottom {
    bottom: 5px;
    padding-left: 10px;
}

.instructions {
    text-align: center;
    font-family: 'Potta One', cursive;
}